<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bluetoothz">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application>
      <service android:name=".DfuService1"/>
      <service android:name=".DfuService2"/>
      <service android:name=".DfuService3"/>
    </application>
</manifest>
