<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bluetoothz">
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission
    android:name="android.permission.BLUETOOTH"
    android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_ADMIN"
    android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_SCAN"
    android:usesPermissionFlags="neverForLocation" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_CONNECT" />
    <application>
      <service android:name=".DfuService1"/>
      <service android:name=".DfuService2"/>
      <service android:name=".DfuService3"/>
    </application>
</manifest>


