<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bluetoothz">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
      <service android:name=".LocalDfuService"/>
      <service android:name=".DFUServiceMain"/>
    </application>
</manifest>
